[Desktop Entry]
Name=Aoi Game Launcher
Icon=asgardius.page.aoilauncher
Exec=aoi-game-launcher
Terminal=false
Type=Application
Categories=
StartupNotify=false
